header {
      background: url(images/east-village.jpg) 0 -200px no-repeat; /* stop tiling */
      background-size: 1500px;
      height: 400px;

      /* ── Slides 18 & 20: Make site name readable and positioned ── */
      color: #fff;
      font-size: 60px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 100px;
      padding-left: 100px;
      margin: 0;
    }